<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!-- Estilos.css -->
    <link rel="stylesheet" href="css/estilo.css">
    
    <!-- cdn jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <!-- cdn fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    
    <title>Peccata minuta</title>
    
    </head>
  <body>
    <div class="container-fluid">
       <!-- menu registro -->
        <div class="d-flex flex-row-reverse mt-3">
          <div class="p-2 menu-registro">
             <a href="#" class="px-2 text-danger borde-l-registro">Mi cuenta</a>
<!--              login -->

<div class="container login">
    <form th:action="@{/j_spring_security_check}" method="post">
      <h3 class="mb-5">¿Estás registrado?</h3>
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Usuario" name="username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" name="password">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Recuérdame</label>
      </div>
      <button type="submit" class="btn btn-primary" id="admin">Entrar</button>
      <button id="cierra-login">X</button>
    </form>
    
    <div th:if="${param.error}">
            Usuario o password inválido.
    </div>
    
    <div th:if="${param.logout}">
            Has salido del sistema.
    </div>
    
</div>


<!-- final del login -->
             <a href="registro.php" class="px-2 text-dark borde-r-registro">Registrate</a> 
          </div>
        </div>
        <!-- logotipo -->
        <div class="logo d-flex justify-content-center mt-3">
            <img src="imagenes/logoPecata.JPG" alt="" style="width:350px;">
        </div>
        
        <!-- navegador -->
        
        <ul class="nav justify-content-center menu-registro">
          <li class="nav-item active">
            <a class="nav-link" href="home.php">Nuestras pizzas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="home.php">A la carta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pedidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacto.php">Contacto</a>
          </li>
        </ul>
        
        
    </div><!--final header-->
    
    <!-- Optional JavaScript -->
    <script src="javascript/script.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>